.wrapper{
  margin-top: 25px;
}

.movieInfo{
  margin: auto;
  border: 1px solid grey;
  width: 50%;
  text-align: center;
  background: wheat;
  color: black;
  border-radius: 15px;
}

.trashCan {
  cursor: pointer;
}